<h1>Add a new band</h1>
<form action="/bands" method="post">
  <label for="band-description">Band:</label>
  <input id="band-description" name="band-description" type="text">
  <button type="submit">Add new band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>
