@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="stylesrevised.css" rel="stylesheet" type="text/css" >

<h2>Edit Band: @Model.GetDescription()</h2>
<form action="/bands/@Model.GetId()/update" method="post">
  <label for="name">New Band:</label>
  <input type="text" name="newname" value="@Model.GetDescription()">
  <button type="submit">Edit</button>
</form>
<br>
<a class="btn btn-primary" href="/bands" role="button">Return Home</a>
